.App {
  text-align: center;
  align-content: center;
}

html, body {
  height: 100%;
}

h1 {
  margin-top: 100px;
  text-align: center;
}

p {
  text-align: center;
  margin: 15px;
}

.btn-group {
  width: 50%;
  margin: auto;
}

.input-group {
  width: 70%;
}